.header-color {
  background-color: rgb(23, 49, 37);
  opacity: .8;
  /*background-color: #40bf77;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,  rgb(134, 99, 130), rgb(134, 99, 130),rgb(134, 99, 130));
  /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to right, rgb(37, 71, 64), rgb(172, 200, 212),rgb(37, 104, 89));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  background-image: url(./images/code.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 2000px 1000px;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
 /* background: #833ab4;
  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, #fcb045);
  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to right, #fcb045);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.projects-grid {
  display: flex;
}

/* Resume Page css */
.resume-right-col {
  
  background-color: rgb(42, 72, 92);
 
  color: white;
  position: absolute;
  padding: 2em;
  right: 15px;
}

/* about me page */
.about-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 600px;
  background-color: rgb(31, 79, 100);
  opacity: .9;
  color: white;
  top: 400px;
  margin-bottom: 20px;
}

/* contact page css */

.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 70%;
  height: 600px;
 
  background-color: rgb(31, 79, 100);
  opacity: .8;
  color: white;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: 'Anton', sans-serif;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted white;
  width: 40%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  padding-right: 5rem;
}


/* contact page css */

.avatar-img {
  height: 250px;
  padding-top: 5em;
}

.banner-text {
  background-color: rgb(23, 30, 32);
  opacity: .8;
  width: 45%;
  margin: auto;
  border-radius: 20px;
  position: relative;
  bottom: 20px;
  top: 100px;
  left: 5pc; 
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}