body {
  background-image: url(./images/bcg.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 1500px 1000px;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
